@page "/admin"

<PageTitle>Administración</PageTitle>

<h1>Menú de Administración</h1>

<ul>
    <li><NavLink href="/admin/solicitudes">Solicitudes</NavLink></li>
    <li><NavLink href="/admin/mantenedores">Mantenedores</NavLink></li>
    <li><NavLink href="/admin/usuarios">Usuarios</NavLink></li>
    <li><NavLink href="/admin/reportes">Reportes</NavLink></li>
    <li><NavLink href="/admin/configuraciones">Configuraciones</NavLink></li>
</ul>
